.agency-item {
    align-items: center;
    border-bottom: 1px solid #a3a3a3;
    display: flex;
    justify-content: space-around;
    &__avatar {
        margin: 0;
        img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }
    }
    &__body {
        min-width: 200px;
        h3, label, p {
            margin: 0;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
        h3 {
            font-size: 20px;
        }
        label {
            color: #a3a3a3;
        }
    }
    &__fav {
        .fa.fa-star {
            font-size: 16px;
            color: #a3a3a3;
        }
    }
}